<div class="panel panel-default">
    <div class="panel-heading">Clients</div>
    <div class="panel-body">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere sunt voluptatibus, possimus quam debitis modi, nihil
        nostrum voluptas quas ullam optio?
      </p>
      <p>In assumenda suscipit quae mollitia nobis dolore omnis molestiae? Lorem ipsum dolor sit amet consectetur adipisicing
        elit. Eaque harum obcaecati, rem in reprehenderit temporibus laboriosam totam illo eos possimus quisquam laborum
        rerum? Ad velit tempora ipsa, magnam tempore dolorum! Lorem ipsum dolor sit amet consectetur, adipisicing elit.
        Placeat deleniti itaque doloribus temporibus, culpa accusantium molestias porro tenetur ad, quae odit odio ipsam,
        aliquid inventore architecto repudiandae in? Rem, aliquid?</p>
    </div>
  </div>
